<mjml>
  <mj-body>
    <mj-section>
      <mj-column>

        <mj-image width="150px" src="https://placehold.it/150x50.png"></mj-image>

        <mj-divider border-color="#099999"></mj-divider>

        <mj-text font-size="20px" color="#777777" font-family="helvetica">Dear <strong>{{name}} {{lastname}}</strong></mj-text>
        <mj-text font-size="14px" color="#777777" font-family="helvetica">This is your patient list:</mj-text>
        
        <mj-table color="#777777">
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th style="padding: 0 15px 0 0;">ID</th>
            <th style="padding: 0 15px;">Name</th>
          </tr>
          {{#each patients}}
            <tr>
              <td style="padding: 0 15px 0 0;">{{this.id}}</td>
              <td style="padding: 0 15px;">{{this.name}}</td>
            </tr>
          {{else}}
            <tr>
              <td style="padding: 0 15px 0 0;" colspan="2">NO DATA</td>
            </tr>
          {{/each}}  
        </mj-table>

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>